
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab:ital,wght@1,600&family=Montserrat:wght@600&family=Poiret+One&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');


* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {

 
  --bg-main-1: #235770;
  --bg-main-2: #487b94;
  --bg-main-3: #cbffff;
  --bg-main-4: #f1faf8;

 
  --ff-poppins: 'Poppins', sans-serif;
  --Yellowtail: 'Yellowtail', cursive, sans-serif;

  
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

 
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  

  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;

}


::-webkit-scrollbar {
  width: 0em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}

::-webkit-scrollbar-button {
  height: 40px;
}

body {
  min-width: 150px;
  font-family: 'poppins', serif, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-main-2);
  cursor: url(curser.png), auto;

}


.loader {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 3;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: myAnim 1.3s ease 2.5s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

.spinner {
  position: relative;
  width: 33.6px;
  height: 33.6px;
  perspective: 67.2px;
}

.spinner div {
  width: 100%;
  height: 100%;
  background: #474bff;
  position: absolute;
  left: 50%;
  transform-origin: left;
  animation: spinner-16s03x 2s infinite;
}

.spinner div:nth-child(1) {
  animation-delay: 0.15s;
}

.spinner div:nth-child(2) {
  animation-delay: 0.3s;
}

.spinner div:nth-child(3) {
  animation-delay: 0.45s;
}

.spinner div:nth-child(4) {
  animation-delay: 0.6s;
}

.spinner div:nth-child(5) {
  animation-delay: 0.75s;
}

@keyframes spinner-16s03x {
  0% {
    transform: rotateY(0deg);
  }

  50%,
  80% {
    transform: rotateY(-180deg);
  }

  90%,
  100% {
    opacity: 0;
    transform: rotateY(-180deg);
  }
}


nav {
  background-color: var(--bg-main-1);
  box-shadow: 0px 26px 43px -3px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 0px 26px 43px -3px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 26px 43px -3px rgba(0, 0, 0, 0.31);
  height: 80px;
  width: 100%;
  z-index: 1;
  position: fixed;
  display: grid;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  cursor: pointer;
}

.bar .logo {
  cursor: pointer;
  position: fixed;
  left: 13px;
  top: 2.5px;
}

.bar .logo img {
  object-fit: contain;
  width: 71px;
  height: 72px;
}

nav .FEA span {
  transition: all 1s;
  color: rgb(231, 0, 0);
  position: absolute;
  top: -35px;
  left: 0px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 23PX;
  letter-spacing: 3px;
}

nav .FEA span:hover {
  letter-spacing: 10px;
  transition: all 1s;
}

.FEA:hover {
  letter-spacing: 1.6px;
  transition: all 1s;
}

.FEA {
  cursor: pointer;
  transition: all 1s;
  position: absolute;
  font-size: 12.5PX;
  color: white;
  text-transform: uppercase;
  letter-spacing: .1px;
  top: 41PX;
  left: 92PX;
  font-weight: bold;
}

ul {
  display: flex;
  gap: 50px;
  position: relative;
  bottom: 2px;
}
.white{
  color: white;
 }

nav ul li a {
  cursor: pointer;
  color: #f6b91f;
}

nav ul li a:hover {
  transition: var(--transition-1);
  font-weight: 400;
  text-shadow: 0px 0px 1px #f6b91f;

}

  ul li a::after {
  content: '';
  background: #ffffff;
  width: 0%;
  height: 2px;
  display: block;
  position: relative;
  margin: auto;
}

nav ul li a:hover::after {
  width: 100%;
  transition: all .3s ease-in-out;
}

nav ul li:nth-of-type(5) a::after {
  display: none;
}

ul li:nth-of-type(5) a {
  padding: 5PX;
  border: 1.8px solid;
  font-size: 11PX;
  font-weight: bolder;
}

nav ul li:nth-of-type(5) a:hover {
  text-shadow: 0px 0px 1px #ffffff90;
  color: black;
  border-color: white;
  background-color: #ffffff90;
  box-shadow: 0px 0px 20px white;
  transition: .6s ease-in-out;

}


.mainbar {
  display: inline-block;
  cursor: pointer;
  gap: 6px;
  position: absolute;
  right: 14px;
  top: 25px;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 5px;
  border-radius: 1px;
  background: #ffffff;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}


.container {
  position: relative;
  display: grid;
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container section {
  padding-top: 90px;
  position: relative;
  
  background-color: var(--bg-main-2);
  width: 100%;
  height: 100vh;
  color: rgb(255, 255, 255);

}

.container section:first-of-type {
  padding-top: 0px;
  background-image: url(bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}



.container section:first-of-type {
  height: 100%;
  display: flex;
  gap: 10px;
}

.Home {
  width: 100%;
}

.Home:first-child {
  padding-top: 60PX;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home:first-child img {
  animation: scaleup 1.8s ease 2.5s normal forwards;
}

@keyframes scaleup {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.Home:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Home:nth-child(2) .Home-text {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 15px;
  animation: upward 1.8s ease 2.5s 1 normal forwards;
}

@keyframes upward {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Home:nth-child(2) .Home-text h1 b {
  color: var(--bg-main-1);
  font-family: var(--Yellowtail);
  position: relative;
  right: 20px;
  font-size: 2em;
}

.Home:nth-child(2) .Home-text h1 {
  color: #ecb510;
  font-size: 3em;
  line-height: 60px;
}

.Home:nth-child(2) .Home-text p {
  color: var(--bg-main-1);
  width: 60%;
}

.Home:nth-child(2) a {
  width: 10em;
  height: auto;
}

.Home:nth-child(2) button {
  position: relative;
  top: 13px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.Home:nth-child(2) button.learn-more {
  width: 12rem;
  height: auto;
}

.Home:nth-child(2) button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--bg-main-1);

}

.Home:nth-child(2) button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.Home:nth-child(2) button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.Home:nth-child(2) button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.Home:nth-child(2) button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--bg-main-1);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.Home:nth-child(2) button:hover .circle {
  width: 100%;
}

.Home:nth-child(2) button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.Home:nth-child(2) button:hover .button-text {
  color: #fff;
}


.arrows {
  display: grid;
  gap: 1px;
  position: fixed;
  z-index: 2;
  right: 20px;
  bottom: 50%;
}

.arrows .up,
.arrows .down {
  width: 50px;
  height: 50px;
  font-size: 3.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--bg-main-1);
  color: var(--bg-main-1);

}

.arrows .up {
  transform: rotate(270deg);
  background: var(--bg-main-3);
}

.arrows .down {
  transform: rotate(90deg);
  background: var(--bg-main-3);
}

.arrows .down:hover,
.arrows .down:focus,
.up:hover,
.up:focus {
  background: var(--bg-main-1);
  color: white;
  border: 1px solid var(--bg-main-3);
}


.social-link {
  position: absolute;
  cursor: pointer;
  background-color: var(--bg-main-3);
  padding: 17px 50px;
  bottom: 24px;
  left: 24px;
  border: 1px solid var(--bg-main-1);
}

.social-link:hover {
  background-color: var(--bg-main-3);
  border: 1px solid var(--bg-main-2);
  box-shadow: 0px 0px 27px 5px var(--bg-main-3);
}

.Social-Link SPAN {
  position: absolute;
  color: var(--bg-main-2);
  visibility: visible;
  font-family: var(--ff-poppins);
  font-weight: 400;
  font-style: italic;

}

.Social-Link SPAN B {
  font-size: 2em;
  position: relative;
  right: 6px;
}

.Social-Link SPAN i {
  position: relative;
  bottom: 6px;
  left: 2px;
}

.Social-Link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  font-weight: bold;
  overflow: hidden;
  border-right: 4px solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  visibility: hidden;
}

.Social-Link a {
  color: var(--bg-main-2);
}

.Social-Link a:hover {
  color: var(--bg-main-1);
}

.social-link:hover .Social-Link SPAN {
  visibility: hidden;
}

.social-link:hover .Social-Link {

  display: block;
  visibility: visible;
  color: var(--bg-main-1);
  border-right: 4px solid #000000;
  animation: letters 1.75s steps(22, end),
    cursor .4s step-end infinite;

}

@keyframes letters {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes cursor {
  from {
    border-color: transparent
  }

  50% {
    border-color: #000000
  }
}


.container section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 100%;
}

.program {
  width: 100%;
  height: 100%;
  background: transparent;
  position: relative;
}

.resize-btn img {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.program-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.program-main .pro {
  width: 100%;
  height: 100%;
}

.program-main .program-header {
  display: flex;
}

.program-main .program-header .p-head {

  width: 100%;
  height: 100%;
  background-color: var(--bg-main-2);
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 0;
  text-decoration: 0;
  border: 0px;
  color: var(--bg-main-4);
}

.P-text h5 {
  position: relative;
  bottom: 10px;
  font-style: italic;
  font-weight: 300;

}

.p-head img {
  width: 550px;
  height: auto;
  object-fit: contain;
}

.program-main .program-about {

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 15.5%;
  padding-right: 15.5%;
  background: var(--bg-main-4);
}

.card-head {
  width: 100%;
  gap: 20px;
  display: flex;
}

.card-head-2 {
  flex-direction: row-reverse;
}

.card-p {
  width: 167px;
  height: 167px;
  box-shadow: 0px 0px 43px -3px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 0px 0px 43px -3px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 0px 43px -3px rgba(0, 0, 0, 0.31);
  background: #ffffff;
  position: relative;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
  cursor: pointer;
}

.card-p:nth-child(2) h5 {
  padding-top: 4px;
  color: #2d789e;
}

.card-p:nth-child(1) h5 {
  padding-top: 4px;
  color: #2d789e;
}

.card-p h6 {
  color: #000000;
  font-weight: 500;
}

.card-p:last-child {
  background: #2d789e;
  box-shadow: 10px 20px 43px 7px rgba(0, 0, 0, 0.31);
}

.card-p:last-child h5 {
  color: var(--bg-main-4);
  letter-spacing: 1px;
}

.card-p:last-child:hover {
  background: #1d8fc7;
}

.card-p img {
  width: 50px;
  height: 50px;
}

.text-p {
  color: black;
  position: relative;
  bottom: 20px;
  width: 70%;
}

.program-lms {
  width: 100%;
  height: 100%;
  padding-left: 15.5%;
  background: var(--bg-main-4);
  color: #000000;
  border-top: 10px solid var(--bg-main-4);
  padding-bottom: 2%;
  display: grid;
  gap: 12px;

}

.program-lms ul {
  column-count: 2;
  display: block;
  gap: 20px;
}

.program-lms ul li::marker {
  color: #30eaae;
  position: relative;
}

.program-lms ul li {
  position: relative;
  top: 11px;
  left: 15px;
  list-style-type: '\2714  ';

}

.lms-main-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26.4px;

}

.program-main h5 {
  color: #3b474e;
}

.program-main h2 {
  color: var(--bg-main-1);
}

.lms-main {
  display: flex;
  gap: 10%;
}

.lms-main .lms-features {
  cursor: pointer;
  width: 110px;
  height: 100px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 6px;
  box-shadow: 0px 0px 43px -3px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 0px 0px 43px -3px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 0px 43px -3px rgba(0, 0, 0, 0.31);
}




.container section:nth-of-type(3) {
  height: 100%;
  display: flex;
  gap: 10px;
  background-color: #010202;
  background-position: center center;
 
  background-size: cover;
}

.campuse {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.campuse:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.campuse:first-child svg {
  transform: scale(.9);
}


.selecter {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10%;
}

.selecter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: 0;
  box-shadow: 0px 0px 3px -3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 3px -3px rgba(0, 0, 0, 0.187);
  -moz-box-shadow: 0px 0px 3px -3px rgba(0, 0, 0, 0.174);
  background: #d8edf9;
  border: 0;
  width: 100%;
  height: 60px;
  font-family: var(--ff-poppins);
  font-size: 1em;
  padding-left: 3%;
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0%;
  background-position-y: 26px;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 0em;
  background-repeat: no-repeat;
}

.selecter select:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, rgba(128, 128, 128, 0), rgba(128, 128, 128, 0));
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-position-y: 26px;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}

.selecter .camp-discrip {
  box-shadow: 0px 0px 3px -3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 3px -3px rgba(0, 0, 0, 0.187);
  -moz-box-shadow: 0px 0px 3px -3px rgba(0, 0, 0, 0.174);
  padding: 4%;
  padding-bottom: 6%;
  background: #d8edf9;
}

.selecter .camp-discrip li {
  width: 100%;
  position: relative;
  top: 10px;
  color: #372222a3;
}

.selecter .camp-discrip h3 {
  font-weight: 700;
  color: var(--bg-main-2);

}

.selecter .camp-discrip h5 {
  font-size: 1em;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0px 0px 2px #000000;
}

.selecter .camp-discrip h6 {
  font-size: 1em;
  font-weight: 300;
}

.selecter h1 {
  position: relative;
  bottom: 60px;
  text-align: center;
  color: var(--bg-main-1);
}


.container section:nth-of-type(4) {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-main-4);
}

.Admission {
  width: 100%;
  height: 100%;
}

.container section:nth-of-type(4) .program-header {
  width: 100%;
  display: flex;
  background: var(--bg-main-1);
}

.container section:nth-of-type(4) .program-header .p-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.5em;
}

.container section:nth-of-type(4) .program-header .p-head:first-child {
  padding-left: 3%;
}

.container section:nth-of-type(4) .program-header .p-head p {
  width: 80%;
  font-size: .6em;
  color: #879096;
}

.Admissions-Button,
.Admissions-Content {
  display: flex;
  padding: 3%;
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 10%;
  gap: 30px;
  flex-wrap: wrap;
  color: #000000;
}

.Admissions-Content {
  padding-top: 1.6%;
}

.container section:nth-of-type(4) .buttons {
  flex: 1 1 300px;
  width: 100%;
  height: 150px;
  background: #2196d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.container section:nth-of-type(4) .buttons:hover {
  box-shadow: 0px 0px 43px 3px rgba(6, 121, 222, 0.252);
  -webkit-box-shadow: 0px 0px 43px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 43px 3px rgba(0, 0, 0, 0.252);
}

.ad-title {
  position: relative;
  left: 100px;
  top: 44px;
}

.form {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;

}

.title {
  font-size: 28px;
  color: var(--bg-main-1);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: var(--bg-main-1);
  ;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: var(--bg-main-1);
  ;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-family: var(--ff-poppins);
  font-size: 0.9em;

}

select {
  width: 100%;
  padding: 10px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-family: var(--ff-poppins);
  font-size: 0.9em;
}

.form label .input+span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid+span {
  color: #29c997;
}

.submit {
  border: none;
  outline: none;
  background-color: var(--bg-main-2);
  ;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: var(--bg-main-1);
  ;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.Admission-form {
  width: 100%;
  height: 100%;
  background: #00000055;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  padding: 10%;
  box-shadow: 0px 0px 43px 3px rgba(0, 0, 0, 0.252);
  -webkit-box-shadow: 0px 0px 43px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 43px 3px rgba(0, 0, 0, 0.252);
  z-index: 1;
}

.form-display-done {
  display: flex;
}

@keyframes scaledown {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.form .cross {
  color: #000000;
  position: absolute;
  right: 28px;
  top: 28px;
  transform: scale(1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  z-index: 2;
  cursor: pointer;

}

.form .cross:hover {
  color: #30eaae;
}


.container section:nth-of-type(5) {
  background-color: var(--bg-main-4);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.contact {
  width: 100%;
  height: 100%;
}

.contact:first-child {
  display: flex;
  padding-bottom: 9%;

}

.contact-in {
  width: 100%;
  height: 100%;


}

.contact-in:first-child h1 {
  color: var(--bg-main-1);
}

.contact-in:first-child h1::after {
  position: relative;
  top: 6px;
  left: 1px;
  width: 60px;
  height: 3px;
  content: "";
  display: block;
  background: var(--bg-main-1);
}

.contact-in:first-child {
  display: flex;
  gap: 30px;
  padding: 2%;
  padding-left: 15%;
  color: #000;
  flex-direction: column;

}

.contact-in:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  padding-right: 15%;
}

.contact-tag {
  width: 100%;
}

.contact-in:nth-child(2) .card {
  background-color: #ffffff00;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.contact-in:nth-child(2) .form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: transparent;
}

.contact-in:nth-child(2) .group {
  position: relative;
}

.contact-in:nth-child(2) .form .group label {
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: var(--bg-main-4);
  transition: all .3s ease;
}

.contact-in:nth-child(2) .form .group input,
.contact-in:nth-child(2) .form .group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

.contact-in:nth-child(2) .form .group input:placeholder-shown+label,
.form .group textarea:placeholder-shown+label {
  top: 10px;
  background-color: transparent;
}

.contact-in:nth-child(2) .form .group input:focus,
.contact-in:nth-child(2) .form .group textarea:focus {
  border-color: var(--bg-main-2);
}

.contact-in:nth-child(2) .form .group input:focus+label,
.contact-in:nth-child(2) .form .group textarea:focus+label {
  top: -10px;
  left: 10px;
  background-color: var(--bg-main-4);
  color: var(--bg-main-1);
  font-weight: 600;
  font-size: 14px;
}

.contact-in:nth-child(2) .form .group textarea {
  resize: none;
  height: 100px;
}

.contact-in:nth-child(2) .form button {
  background-color: var(--bg-main-2);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-in:nth-child(2) .form button:hover {
  background-color: var(--bg-main-1);
}

.contact-tag li img {
  position: absolute;
  left: -35px;
  top: -3px;
}

.contact-tag {
  cursor: pointer;
  width: 100%;
  position: relative;
}

.location {
  position: absolute;
  left: -40px;
}

.contact-tag li {
  position: relative;
  left: 35px;
}

.contact-tag li a {

  color: #000;
}

.contact-tag li a:hover {
  text-decoration: 1px solid black underline;
}

.contact-tag li a::after {
  display: none;
}





footer {
  width: 100%;
  height: 100%;
}

.footer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #32689b;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}



.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave-footer.png);
  background-size: 1000px 100px;
}

.wave#wave1 {
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
 
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}


.ahkamboh{
  text-decoration: underline 1px rgb(0, 0, 0) solid;
}
.ahkamboh:hover{
  text-decoration: underline 1px rgb(255, 255, 255) solid;
}


@media (max-width: 1400px) {

  .Home:nth-child(2) .Home-text p {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .Home:nth-child(2) .Home-text {
    transform: scale(.8);
  }


  .Home:nth-child(2) .Home-text p {
    width: 90%;
  }

  .Home:first-child img {
    width: 120%;
    height: 120%;
    object-fit: contain;
  }

  .program-main .program-about {
    justify-content: center;
    align-items: center;
    bottom: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 5%;
  }

  .card-head {
    justify-content: center;
  }

  .text-p {
    padding-left: 3%;
    bottom: 0px;
    width: 100%;
  }

  .program-lms {
    padding-top: 4%;
    padding-left: 3%;

  }

  .card-p {
    bottom: 0px;
  }

  .program-main .program-header .p-head:first-child {
    padding-left: 2%;
  }

  .program-header-2 {
    padding-top: 5%;
  }

  .program-main .program-header .p-head-2:nth-child(2) {
    padding-left: 2%;
  }

  .program-main .program-header .p-head:first-child h1 {
    line-height: 40px;
  }

  .lms-main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

  }
}


@media (max-width: 1050px) {

  ::-webkit-scrollbar {
    width: 0em;
  }

  .Home:first-child {
    padding-top: 0;
    padding-bottom: 110PX;

  }

  
  .mainbar {
    display: grid;
  }

  .navdisplay {
    position: absolute;
    top: 0;
    transition: .7s ease;
  }

  nav ul {
    display: block;
    transition: .7s;
    background-color: var(--bg-main-1);
    box-shadow: 0px 26px 43px -3px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 0px 26px 43px -3px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 26px 43px -3px rgba(0, 0, 0, 0.31);
    width: 100%;
    height: 12em;
    top: -300%;
    left: 0;
    position: absolute;
    padding: 24px;
    text-align: center;
  }

  nav ul li a:hover {
    transition: 0.3s;
    color: #ffffff;
  }

  nav ul li a::after {
    display: none;
  }

  ul li:nth-of-type(5) a {
    font-size: 15px;
    position: relative;
    top: 9px;
  }

  .container section {
    padding-top: 120px;

  }

  
  .Home:nth-child(2) {
    padding: 10%;
  }

  .container section:first-of-type {
    padding-top: 90px;
    flex-direction: column-reverse;
  }

  .Home:nth-child(2) .Home-text {
    top: 0;
    padding: 20px;
    height: 100%;
    transform: scale(1.1);
  }

  .Home:first-child img {
    width: 100%;
    height: 100%;
  }

  .Home:nth-child(2) .Home-text p {
    width: 100%;
  }

  .Home:nth-child(2) .Home-text h1 b {
    right: 10px;
    bottom: 17px;
    line-height: 80px;
  }

  .Home:nth-child(2) .Home-text h1 {
    line-height: 40px;
  }

  
  .arrows {
    left: 20px;
    bottom: 20px;
  }

  .social-link {
    left: 20px;
  }

  .container section:nth-of-type(3) {
    flex-direction: column-reverse;
    border-top: 10px solid var(--bg-main-4);
  }

}

@media (max-width: 900px) {
  .program-main .program-header {
    flex-direction: column;

  }

  .program-main .p-head-2 {
    flex-direction: column-reverse;

  }

  .container section:nth-of-type(4) .program-header {
    flex-direction: column;
  }

  .p-head-2 img {
    width: 100%;
    height: 100%;
  }

  .social-link {
    transform: scale(.8);
    left: 4px;
  }

  .Home:nth-child(2) .Home-text {
    padding: 20px;
    height: 100%;
    transform: scale(1);
  }

  .arrows {
    display: none;
  }

  .Home:nth-child(2) {
    padding: 0%;
  }

  .container section:first-of-type {
    padding-top: 105px;
  }


  .program-main .program-header .p-head:first-child {

    align-items: start;
  }

  .container section:nth-of-type(4) .program-header .p-head:first-child {
    justify-content: start;
    font-size: 1.2em;
  }

  .container section:nth-of-type(4) .program-header .p-head:first-child {
    padding-left: 2%;
  }

  .program-lms ul {
    column-count: 1;
    display: block;
    gap: 20px;

  }

  .card-p:last-child {
    background: #2d789e;
    box-shadow: 0px 0px 43px -3px rgba(0, 0, 0, 0.31);
  }

  .program-lms ul li {
    top: 6px;
  }

  .selecter h1 {
    position: relative;
    bottom: 45px;
    text-align: start;
    color: var(--bg-main-1);
  }

  .contact:first-child {
    flex-direction: column;
  }

  .contact-in:first-child {

    gap: 30px;
    padding: 2%;
    padding-left: 2%;


  }

  .contact-in:nth-child(2) {

    padding: 1%;
    padding-right: 2%;
  }

  .Quote {
    padding: 5%;
  }

  .contact-tag {

    padding-right: 10%;
  }

  .container section:nth-of-type(4) .program-header .p-head h1 {
    padding-top: 15px;
    font-size: 1em;
  }

  .footer {
    position: relative;
    top: 100px;
  }

  .ad-title {
    position: relative;
    left: 10px;
    font-size: 1em;
    top: 10px;
  }
}

@media (max-width: 630px) {

  .program-main .program-about {
    flex-direction: column;
  }

  .p-head:nth-child(2) img {
    width: 100%;
    height: 100%;
  }

  .program-main .program-header .p-head:first-child {

    font-size: 1.25em;
    align-items: start;
  }

  .program-main .program-header .p-head-2:nth-child(2) {

    font-size: 1em;
    align-items: start;
  }

  .card-head {
    flex-wrap: wrap;
  }

  .container section {
    scroll-snap-align: none;
  }

  .container section:nth-of-type(2) {
    padding-top: 5%;
  }

  .container section:nth-of-type(3) {
    padding-top: 5%;
  }

  .container section:nth-of-type(4) {
    padding-top: 5%;
  }

  .container section:nth-of-type(5) {
    padding-top: 5%;
  }

  .lms-main {
    justify-content: center;
    padding-right: 3%;
  }

  .program-lms {
    padding-bottom: 10%;
  }

  .selecter .camp-discrip h6 {
    font-size: .8em;

  }

  .form .cross {
    right: 10px;
    top: 10px;
  }

  .contact:first-child ul {
    flex-direction: column;
  }

  .Quote {
    flex-direction: column;
    padding-left: 28%;
  }

  .card .title {
    font-size: 1em;
  }

  .program .P-text h1 {
    font-size: 1em;
  }

  .program .program-header-2 .P-text .h5 {
    top: -6px;
    font-size: .7em;
  }

  .program .program-header .P-text h5 {
    top: -12px;
    font-size: .67em;
  }
}

@media (max-width: 300px) {
  .Home:nth-child(2) .Home-text h1 {
    position: relative;
    bottom: 8px;
  }

  
  .container section {
    padding-top: 90px;
  }

  .Home:nth-child(2) .Home-text h1 b {
    bottom: 0px;
  }

  .selecter .camp-discrip h6 {
    font-size: .6em;

  }

  .selecter .camp-discrip h5 {
    font-size: .7em;

  }

  .Home:nth-child(2) .Home-text h1 {

    font-size: 2.1em;
  }
}


